@tailwind base;
@tailwind components;
@tailwind utilities;


*{
  font-family: outfit;
}

/* @custom-variant dark (&[data-theme="dark"], [data-theme="dark"] &);

@theme {
  --color-light-hover: #fcf4ff;
  --color-dark-hover: #2a004a;
  --color-dark-theme: #11001f;

  --font-outfit: "Outfit", sans-serif;
  --font-ovo: "Ovo", serif;

  --shadow-black: 4px 4px 0 #000;
  --shadow-white: 4px 4px 0 #fff;

}

@layer utilities {
  .font-outfit { font-family: var(--font-outfit); }
  .font-ovo { font-family: var(--font-ovo); }
  .shadow-black { box-shadow: var(--shadow-black); }
  .shadow-white { box-shadow: var(--shadow-white); }
} */

